@model FinalProject.Models.Applicant



<div class="card">

    <h2>My Profile</h2>
    <hr />

    <img src="https://www.w3schools.com/w3images/team2.jpg" alt="John" style="width:100%">
    <strong> First name:</strong> <input type="text" name="fname" value="Joe peter"><br>
    <br>
    <strong>Last name: </strong><input type="text" name="lname" value="Mortalon"><br>
    <br>
    <strong> Address:</strong> <input type="text" name="lname" value="454 Welland street, Ontario"><br>
    <br>
    <strong> Email: </strong><input type="text" name="lname" value="johndoe5656@hotmail.ca"><br>
    <br>
    <strong> Phone Number: </strong><input type="text" name="lname" value=" 905356457486"><br>
    <br>
    <input type="button" value="Edit Profile" class="btn btn-default" />
    <input type="button" value="Change Picture" class="btn btn-default" />
</div>
<br>
<h1>
    Resume
</h1>
<div class="card">
    <p><strong>Upload Resume:</strong> </p>
    <input type="file" id="myFile">
    <br>
    <input type="button" value="View" class="btn btn-default" />
    <input type="button" value="Download" class="btn btn-default" />
    <input type="button" value="Remove" class="btn btn-default" />
    <input type="button" value="Add" class="btn btn-default" />
</div>


<style>
    .card {
        box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 500px;
        margin: auto;
        font-family: arial;
    }
</style>