@model FinalProject.Models.Posting

@{
    ViewBag.Title = "Posting";
}

    <div> 
        <div class="container well well-lg" style=" font-size:18px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">
            <div class="col-md-6">
                <p>
                    <b>Job Title:</b><br />
                    Janitor
                </p>

                <p>
                    <b>School:</b><br />
                    Niagara College
                </p>

                <p>
                    <b>Location</b><br />
                    100 James Wood Ave
                </p>

                <p>
                    <b>City</b><br />
                    Welland
                </p>

                <p>
                    <b>Postal Code:</b><br />
                    L3C 2S6
                </p>

                <p>
                    <b>Closing Date:</b><br />
                    February 28 2018
                </p>

                <p>
                    <b>Start Date:</b><br />
                    March 15 2018
                </p>
            </div>
                <div class="col-md-6">
                <p>
                    <b>Description:</b><br />
                    Keep buildings in clean and orderly condition.
                    Perform heavy cleaning duties, such as cleaning floors, shampooing rugs, washing walls and glass, and removing rubbish.
                    Duties may include tending furnace and boiler, performing routine maintenance activities, notifying management of need for repairs, and cleaning snow or debris from sidewalk.
                </p>

                <p>
                    <b>Qualifications:</b><br />
                    High School G.E.D.
                </p>

                <p>
                    <b>Requirements:</b><br />
                    Patience<br />
                    Vigilence
                </p>

                <p>
                    <b>Number of Openings:</b><br />
                    2
                </p>
                <div style="padding-top:30px">
                    <button ID="btnApply" style="border: 2px solid black; padding-right:50px; padding-left:50px; margin-right:50px; margin-top:30px" class="btn btn-info-outline" type="submit">Apply</button>
                    <a href="javascript:void(0);" onclick="history.go(-1);">Back to List</a>
                </div>
            </div>
             
            </div>
        </div>

