@model FinalProject.Models.Posting

@{
    ViewBag.Title = "Posting";
}


    <div> 
        <div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

            <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
            <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
            <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
            <br />

            <div style="margin:0 auto" ;>
                   
                <h3 style="text-align:center; padding-bottom:30px">
                    ∙ &nbsp; Posting Details &nbsp; ∙
                </h3>&nbsp;&nbsp;

                <table style="width:70%; font-size:18px">
                <tr>
                    <td><h4><b>Job Title:</b></h4></td>
                    <td>Janitor</td>
                    <td><h4><b>Closing Date:</b></h4></td>
                    <td>February 28 2018</td>
                </tr>
                
                <tr style="height:80px">
                    <td><h4><b>School:</b></h4></td>
                    <td>Niagara College</td>
                    <td><h4><b>Start Date:</b></h4></td>
                    <td>March 15 2018</td>
                </tr>
                <tr>
                    <td><h4><b>Location:</b></h4></td>
                    <td>100 James Wood Ave</td>
                    <td><h4><b>Qualifications:</b></h4></td>
                    <td>High School G.E.D.</td>
                </tr>
                <tr style="height:80px">
                        <td><h4><b>City:</b></h4></td>
                        <td>Welland    </td>
                        <td><h4><b>Requirements:</b></h4></td>
                        <td>Patience<br /> Vigilence </td>
                 </tr>
                 <tr style="height:50px">
                     <td ><h4><b> Postal Code:</b></h4></td>
                     <td>L3C 2S6</td>
                     <td ><h4><b>Number of Openings:</b></h4></td>
                     <td>2</td>
                    </tr>
             </table><br />
 
                <h4 ><b>Description:</b></h4>
                <p style="width:900px; font-size:18px">
                    Keep buildings in clean and orderly condition.
                    Perform heavy cleaning duties, such as cleaning floors, shampooing rugs, washing walls and glass, and removing rubbish.
                    Duties may include tending furnace and boiler, performing routine maintenance activities, notifying management of need for repairs, and cleaning snow or debris from sidewalk.
                </p>

                    <div style="margin-top:30px">
                        <button ID="btnApply" class="btn btn-primary btn-large" style="background-color:#00a203; padding-right:50px; padding-left:50px; margin-right:50px; margin-top:30px" type="submit">Apply</button>
                        <a href="javascript:void(0);" onclick="history.go(-1);">Back</a>
                    </div>
               </div>
         </div>
     </div>
          

