@model FinalProject.Models.Posting

@{
    ViewBag.Title = "Posting";
    
}



<div class="container well well-lg" margin-bottom:50px;">

    <br /><br />
    <fieldset style="margin-bottom:100px; text-align:center">
        <legend style="text-align:center; font-size:30px; color:#337ab7;">Niagara Catholic District School Board</legend>
        
        
        @using (Html.BeginForm("Action", "Controller", FormMethod.Post))
        {
            <button ID="btnCreatePosting" style="border: 2px solid black;" class="btn btn-info-outline" type="submit">Create New Posting</button>
        }
        <br /><br />

        [ Copy Milan's "Create Posting" code here ]

        <br /><br />

        <table style="width:100%;">
            <tr>
                <td>&nbsp;Make</td>
                <td>&nbsp;This</td>
                <td>&nbsp;Form</td>
           </tr>
           <tr>
                <td>&nbsp;Visible</td>
                <td>&nbsp;Only</td>
               <td>&nbsp;When</td>
           </tr>
           <tr>
                <td>&nbsp;Button</td>
                <td>&nbsp;Is</td>
                <td>&nbsp;Clicked</td>
           </tr>
        </table>


        @using (Html.BeginForm("Action", "Controller", FormMethod.Post))
        {
            <button ID="btnSavePosting" style="margin-top:20px; border: 2px solid black;" class="btn btn-info-outline" type="submit">Save </button>
        }

          
        <h3 style="padding-top:20px; text-align:center;">
            All Listed Job Postings:
        </h3>&nbsp;&nbsp;

        [ Enter GridView Here ]

     </fieldset>

   
        
       
      

   

</div>


  
