@model FinalProject.Models.Application

<h2>Delete Application</h2>

<h3>Are you sure you want to delete this Job Application?</h3>
<div>
    <div class="q">
        <table class="table">
            <thead>
                <tr>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr class="danger">

                    <td><strong> <u>Application Number: 299843454</u> </strong></td>
                </tr>

                <tr>

                    <td>Applicant Name:  <strong>Harold morta</strong> </td>
                </tr>

                <tr>

                    <td>Posting title: <strong> Math Teacher Part-time</strong></td>
                </tr>
            </tbody>
        </table>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

<style>
    .q {
        font-size: 1.2em;
        text-align: center;
    }
</style>