@{
    ViewBag.Title = "Home Page";
}


<div class="container well well-lg" style="height: 1000px; margin-top:100px;">
    <br /><br />
    <fieldset style="margin-bottom:100px">
        <legend style="text-align:center; font-size:30px; color:#337ab7;">Niagara Catholic District School Board</legend>
        <h3 style="padding-top:20px; border:none; text-align:center;">Search Job Postings:</h3>&nbsp;&nbsp;
        <div class="SearchTextBox ">              
            <asp:TextBox ID="TextBox1" class="form-control" style="padding-bottom:20px; margin:0 auto; width:400px;" runat="server"></asp:TextBox>
        </div>      
    </fieldset>
      
    <div class="row" style="text-align:center; margin:0 auto";>
    <div class="col-md-4">  
        <p>
            <a href="#"><img src="comments.png" style="height:100px"/></a>
        </p>
        <h4>Comments</h4>
        
    </div>

    <div class="col-md-4">    
        <p>
            <a href="#"><img src="FAQ.png" style="height:100px"/></a>
        </p>
        <h4>Frequently Asked Questions</h4>     
    </div>

    <div class="col-md-4">     
        <p>
            <a href="#"><img src="AboutUs.png" style="height:100px"/></a>
        </p>
        <h4>About Us</h4>
    </div>
</div>

    <p style="padding-top:100px;">
        Follow us on social media:
    </p>

    <div style="padding-top:20px;">
        <p>
            <a href="https://www.facebook.com/NiagaraCatholicDSB/"><img src="facebook.png" style="height:30px;" /></a>&nbsp;&nbsp;
            <a href="https://twitter.com/niagaracatholic"><img src="twitter.png" style="height:30px;" /></a>&nbsp;&nbsp;
            <a href="https://www.youtube.com/user/NiagaraCatholicDSB"><img src="youtube.png" style="height:30px;" /></a><br />
        </p>
    </div>
    



</div>          


