@{
    ViewBag.Title = "Home Page";
}



<div class="container well well-lg"  margin-bottom:50px;">
    <br /><br />
    <fieldset style="margin-bottom:100px">
        <legend style="text-align:center; font-size:30px; color:#337ab7;">Niagara Catholic District School Board</legend>
        <h3 style="padding-top:20px; border:none; text-align:center;">
            Search Job Postings:
        </h3>&nbsp;&nbsp;

        <div class="SearchTextBox " style="padding-bottom:20px">              
            @Html.TextBox("txtPostingSearch", null, new { @class = "form-control", @style = "margin:0 auto; width:700px", @runat="server" })  
        </div>  
        
        <div style="padding-top:10px; margin:0 auto; text-align:center;">

            @using (Html.BeginForm("Action", "Controller", FormMethod.Post))
            {
                <button ID="btnPostingSearch" style="border: 2px solid black;" class="btn btn-info-outline" type="submit">Search</button>
            }

        </div>

        <div style="padding-top:60px; margin:0 auto; text-align:center;">

            @Html.Label("lblPostingsResults", "... results found.", new { @style = "color:green" })
            
            @Html.ListBox("lstPostingSearchResults", new List<SelectListItem>(), new { @class = "form-control", @style = "margin:0 auto" })

            @using (Html.BeginForm("Action", "Controller", FormMethod.Post))
            {
                <button ID="btnViewPosting" style="border: 2px solid black; margin-top:30px" class="btn btn-info-outline" type="submit">View</button>
            }

        </div>
           
</fieldset>
   
    <div class="row" style="text-align:center; margin:0 auto";>
    <div class="col-md-4">  
        <p>
            <a href="#"><img src="Images/Subscribe.png" style="height:100px"/></a>
        </p>
        <h4>Subscribe</h4>
        
    </div>

    <div class="col-md-4">    
        <p>
            <a href="#"><img src="Images/FAQ.png" style="height:100px"/></a>
        </p>
        <h4>Frequently Asked Questions</h4>      
    </div>

    <div class="col-md-4">     
        <p>
            <a href="#"><img src="Images/About.png" style="height:100px"/></a>
        </p>
        <h4>About Us</h4>
    </div>
</div>

    <p style="padding-top:100px;">
        Follow us on social media:
    </p>

    <div style="padding-top:20px;">
        <p>
            <a href="https://www.facebook.com/NiagaraCatholicDSB/"><img src="Images/facebook.png" style="height:30px;" /></a>&nbsp;&nbsp;
            <a href="https://twitter.com/niagaracatholic"><img src="Images/twitter.png" style="height:30px;" /></a>&nbsp;&nbsp;
            <a href="https://www.youtube.com/user/NiagaraCatholicDSB"><img src="Images/youtube.png" style="height:30px;" /></a><br />
        </p>
    </div>
</div>          


