@model FinalProject.Models.Review

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Review Applications</title>
</head>
<body>
    <div> 

        Qualification Rating:  <br />

        Leadership Rating: <br />

        Overall Rating: <br />


    </div>
</body>
</html>
